---
layout: default
---

<article class="prose p-8 w-full m-auto">
    <div class="rounded-xl bg-gray-100 p-6">
        <div class="">
            <span class="text-5xl">{{ page.title }}</span>
            <div class="text-2xl lg:text-xs text-gray-400"><span>Author: </span>
                <span>{{page.author}}</span></div>
            <div class="text-2xl lg:text-xs text-gray-400"><span>Published: </span> <span>{{page.published}}</span></div>
            <div class="text-2xl lg:text-xs text-gray-400"><span>Notes By: </span> <span>Yosef Serkez</span></div>
            <div class="text-2xl lg:text-xs text-gray-400"><span>Last Updated: </span>
                <span>{{page.date | date: "%B %d, %Y"}}</span>
            </div>
        </div>
        <p class="py-2 text-2xl lg:text-lg">
            {{page.description}}
        </p>
    </div>
    <div class="text-3xl lg:text-lg p-6">
        {{ content }}
    </div>
</article>