---
layout: default
---
<article class="prose py-8 w-full m-auto">
    <div class="rounded-xl bg-gray-100 p-6">
        <div class="">
            <span class="text-5xl">{{ page.title }}</span>
            <div class="text-2xl lg:text-xs text-gray-400"><span>Author: </span>
                <span>{{page.author}}</span></div>
            <div class="text-2xl lg:text-xs text-gray-400"><span>Published: </span>
                <span>{{page.date | date: "%B %d, %Y"}}</span>
            </div>
        </div>
        {% if page.description %}
        <p class="py-2">
            {{page.description}}
        </p>
        {% endif %}
    </div>
    <div class="mt-8 text-3xl lg:text-lg ">
        {{ content }}
    </div>
</article>
